body{
    border: 3px solid blue;
 }
 
 header{
     background-color: rgba(70, 100, 255, 0.6);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
    /* height: 200px;*/
     color: white;
     
 }
 nav ul{
     list-style-type: none;
     display: flex;
     margin: 15px; 
 }
 nav li{
     margin-right: 15px;
 }
 nav a{
     text-decoration: none;
     margin-bottom: 5px;
     color: white;
 }
 #logo{
       display: flex;
       height: ;
 }
 #logo img{
     width: 75px;
     height: 65px;
 }
 nav a:hover{
     color: blue;
     border-bottom: 2px solid rgba(230, 214, 120, 0.9);
     animation-name:  animatoin-ruf;
     animation-duration: 5s;animation-iteration-count: infinite;
 }
 #b{
    height: 430px;
    background-image: url(../images/tracteur.jpg);
    border-radius: 7px ;
    border-bottom: 5px solid rgba(127, 112, 255, 0.7);
    margin-bottom: 40px;
    margin-top: 2px;
    position: relative;
    box-shadow:0px 4px 4px #1c1a19 ;
    margin-bottom: 25px;
   
 }
 #b2{
     position: absolute;
     bottom: 0px;
     background-color: rgba(127, 112, 225, 0.7);
     color: white;
     border-radius: 0px 0px 5px 5px;
     width: 99.5%;
     height: 34px;
     padding-left:4px;
     padding-top:15px;
     font-size: 1em;
 
 }
 .br{
 position: absolute;
 right: 15px;
 border: 3px solid blue;
 border-radius: 5px;
 padding: 5px;
 text-decoration: none;
 color: white;
 font-size: 0.9em;
 
 
 
 }
 
 #b1{
       padding: 8em 0em 0em 31em ;
       text-shadow: 1px 2px 3px purple;
        animation-name:  animatoin-ruf;
        animation-duration: 5s;
        animation-iteration-count: infinite;
 
 }
 @keyframes animatoin-ruf{
     0%{
         font: size 12em;
         color:red
     }
 
       30%{
           font-size: 5em;
           color: magenta;
       }
        50%{
            color: mediumaquamarine;
        }
        75%{
          color: yellow;
        }
        100%{
            color: tomato;
        }
 